:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-active: #2dcdfd;
  --bg-input: #313645;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1 {
  text-align: center;
  color: #fff;
}
canvas {
  background-color: #fff;
  transform-origin: top center;
  width: 100%;
  height: 100%;
}
label {
  color: #fff;
}
.canvas-container {
  width: 512px;
  height: 512px;
}

/* Sidebar */
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  top: 0;
  left: 0;
  transition: width 200ms ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item svg {
  font-size: 2rem;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: all 600ms ease;
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.link-text {
  display: none;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.link-dropdown {
  display: none;
  transition: transform 300ms ease;
}
.nav-link-icon {
  min-width: 2rem;
  margin: 0 1.5rem;
  color: var(--icon-active);
}
.navbar-open {
  width: 18rem;
}
.navbar-open .link-text {
  display: block;
}
.navbar-open .link-dropdown {
  display: block;
  margin-left: auto;
}
.navbar-open .link-dropdown.open {
  transform: rotate(90deg);
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 600ms ease;
}
.navbar-open .logo svg {
  transform: rotate(-180deg);
}

.settings-panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
  transition: max-height 0.3s ease-out;
}

/* Interactive input */

.input-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.interactive-input-label {
  cursor: w-resize;
  user-select: none;
  color: var(--text-primary);
}
.interactive-input-field {
  width: 3.5rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: var(--bg-input);
  color: var(--text-secondary);
}
.interactive-input-field:focus {
  outline: none;
}
/* hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Sliders */

.slider {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: var(--bg-input);
  border-radius: 5px;
  width: 45%;
}

.slider::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: var(--icon-active);
  margin-top: -1px;
}

.slider::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: var(--icon-active);
  box-shadow: -80px 0 0 80px var(--icon-active);
}

.slider-label {
  color: var(--text-primary);
}

.underline {
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, transparent 10%, #313645 50%, transparent 90%);
}
